<button mat-stroked-button (click)="createTraining()" *ngIf="!showForm">
  New training
</button>
<div *ngIf="showForm">
  <form class="search-form">
    <mat-form-field class="search-field">
      <input matInput 
        placeholder="Enter name"
        [formControl]="trainingNameFieldControl" />
    </mat-form-field>
  </form>
  <ul class="species-list">
    <li *ngFor="let species of allSpecies" >
        <mat-checkbox (click)="toggleSpecies($event, species)" [checked]="isSelected(species)"></mat-checkbox>
       {{species.name}} ({{species.latin_name}})
    </li>
  </ul>
  <button mat-stroked-button (click)="saveTraining()">
    Save training
  </button>
  <button mat-stroked-button (click)="cancel()">
    Cancel
  </button>
</div>

<ul *ngIf="!showForm" class="training-list">
  <li *ngFor="let training of trainings" >
    <a (click)="editTraining(training)">
     {{training.name}}  <svg-icon src="assets/icons/icons-edit.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </a>
  </li>
</ul>