:host {
  margin: auto;
}

form.search-form {
  display: block;
  text-align: center;
  button {
    margin: 5px;
  }
  mat-icon {
    vertical-align: sub;
  }

}

.species-info {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}


mat-form-field {
  width:21rem;
  font-size: 1.3rem;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 512px !important; 
}

.recordings {
  text-align: left;
  ul {
    li {
      &.bold {
        font-weight: 500;
      }
    }
  }
}
