<form class="search-form">
  <mat-form-field class="search-field">
    <input matInput 
      placeholder="Enter search term..."
      [matAutocomplete]="auto"
      [formControl]="searchFieldControl" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of (suggestions$ | async)" (onSelectionChange)="onOptionSelected(option)">
        {{option.common_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-stroked-button (click)="toggleSelectView()" *ngIf="selectedRecordings.length > 0">
    <span *ngIf="!hideUnselected">Hide unselected</span> <span *ngIf="hideUnselected">Show unselected</span>
  </button>
  <button mat-stroked-button (click)="saveRecordings()" *ngIf="selectedRecordings.length > 0">Save</button>
  <div class="species-info" *ngIf="selectedSpecies?.species_nr">
    Selected: {{selectedSpecies?.common_name}} ({{selectedSpecies?.species}}): {{selectedSpecies?.recordings}} recordings
  </div>
  <div class="loader" *ngIf="(loadingRecords && !(recordings$ | async)) || isLoading">
    <svg-icon src="assets/icons/loading.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
  </div>
  <div class="recordings"  *ngIf="!isLoading">
    <ul>
      <li *ngFor="let recording of (recordings$ | async); index as i;"  [class.visible]="!hideUnselected || (hideUnselected && isSelected(recording))">
          <mat-checkbox (click)="toggleRecord($event, recording)" [checked]="isSelected(recording)"></mat-checkbox>
          <span class="icon-wrapper">
            <svg-icon *ngIf="currentIndex != i" (click)="playStream(recording.file, i)" src="assets/icons/play-button.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
            <svg-icon *ngIf="currentIndex === i" (click)="stop()" src="assets/icons/pause-button.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
          </span>
          Type: {{recording.type}}, {{recording.cnt}}
      </li>
    </ul>
  </div>
</form>
<div class="importedSpecies" *ngIf="viewMode!='edit'">
  <h3>Imported species</h3>
  <ul *ngIf="showSpeciesList && !isLoading">
    <li *ngFor="let species of (species$ | async)" (click)="editSpecies(species)" class="species-item">
      {{species.name}} <svg-icon src="assets/icons/icons-edit.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
      </li>
  </ul>
</div>