<form class="search-form">
  <mat-form-field class="search-field">
    <input matInput 
      placeholder="Enter search term..."
      [matAutocomplete]="auto"
      [formControl]="searchFieldControl" 
      (focus)="viewMode = 'import'"
      />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of (suggestions$ | async)" (onSelectionChange)="onOptionSelected(option)">
        {{option.common_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-icon title="species info" class="medium pointer" (click)="showInfoDialog()" *ngIf="currentSpecies">info_outline</mat-icon>
  
  <button mat-stroked-button (click)="toggleSelectView()" *ngIf="selectedRecordings.length > 0">
    <span *ngIf="!hideUnselected">Hide unselected</span> <span *ngIf="hideUnselected">Show unselected</span>
  </button>
  <button mat-stroked-button (click)="saveRecordings()" *ngIf="selectedRecordings.length > 0">Save</button>
  <button mat-stroked-button (click)="viewMode = 'default'" *ngIf="viewMode !== 'default'">Cancel</button>
  
  <div class="loader" *ngIf="(loadingRecords && !(recordings$ | async)) || isLoading">
    <div *ngIf="loadingRecords">Loading recordings from www.xeno-canto.org</div>
    <svg-icon src="assets/icons/loading.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
  </div>
  <div class="recordings"  *ngIf="!isLoading && viewMode!='default'">
    <ul>
      <li *ngFor="let recording of (recordings$ | async)?.slice(startFrom, limitTo); index as i;" [class.bold]="currentIndex === i"  [class.visible]="!hideUnselected || (hideUnselected && isSelected(recording))">
          <mat-icon *ngIf="currentIndex != i" (click)="playStream(recording.file, i)" class="medium material-icons-outlined">play_circle_outline</mat-icon>
          <mat-icon *ngIf="currentIndex === i" (click)="stop()" class="medium">pause_circle_outline</mat-icon>
          <span class="content pointer" (click)="toggleRecord($event, recording)" >
            Type: {{recording.type | slice:0:20}}, {{recording.cnt}}, {{recording.length}}
          </span>
            <mat-icon *ngIf="!isSelected(recording)" class="medium" (click)="toggleRecord($event, recording)" >add_to_photos</mat-icon>
            <mat-icon *ngIf="isSelected(recording)" class="medium green" (click)="toggleRecord($event, recording)" >library_add_check</mat-icon>
      </li>
    </ul>
  </div>
</form>
<div class="importedSpecies" *ngIf="viewMode == 'default' && showSpeciesList && !isLoading && importedSpecies.length > 0">
  <h3>Imported species</h3>
  <ul>
    <li *ngFor="let species of importedSpecies" class="species-item">
      <span (click)="editSpecies(species)">
        {{species.name}} 
      </span>
      <mat-icon class="red" (click)="confirmDelete(species)">highlight_off</mat-icon>
      </li>
  </ul>
</div>
