<h3 class="mobile-only">Import species</h3>
<form class="search-form">
  <mat-form-field class="search-field">
    <input matInput
      id="searchfield"
      placeholder="Enter search term..."
      [matAutocomplete]="auto"
      [formControl]="searchFieldControl" 
      (focus)="viewMode = 'import'"
      />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of (suggestions$ | async)" (onSelectionChange)="onOptionSelected(option)">
        {{option.common_name}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon title="species info" class="medium pointer info" (click)="showInfoDialog($event)" *ngIf="currentSpecies">image</mat-icon>
    <mat-icon title="help" class="medium pointer info" (click)="showHelpDialog($event)" *ngIf="!currentSpecies">help_outline</mat-icon>
  </mat-form-field>
  <div>
    <button mat-stroked-button (click)="reset()" *ngIf="viewMode !== 'default'">Cancel</button>
    <button mat-stroked-button (click)="saveRecordings()" *ngIf="selectedRecordings.length > 0">Save</button>
  </div>
  <button mat-stroked-button (click)="toggleSelectView()" *ngIf="selectedRecordings.length > 0">
    <span *ngIf="!hideUnselected">Hide unselected</span> <span *ngIf="hideUnselected">Show unselected</span>
  </button>
  <div *ngIf="importedSpecies.length > 0" class="intro">
    
  </div>
  <div class="loader" *ngIf="(loadingRecords && (!recordings.length || isLoading))">
    <div *ngIf="loadingRecords">Loading recordings from www.xeno-canto.org</div>
    <svg-icon src="assets/icons/loading.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
  </div>
  <div *ngIf="!isLoading && viewMode!='default' && recordings?.length > 0">
    <ul class="list recordings" [class.filter]="hideUnselected" >
      <li *ngFor="let recording of recordings?.slice(startFrom, limitTo); index as i;"
        class="pseudo-button"
        [class.bold]="currentIndex === i"
        [class.selected]="isSelected(recording)"
      >
        <div class="icon-wrap">
          <mat-icon *ngIf="currentIndex != i" (click)="playStream(recording.file, i)" class="medium" >play_circle_outline</mat-icon>
          <mat-icon *ngIf="currentIndex === i" (click)="stop()" class="medium">pause_circle_outline</mat-icon>
        </div>
        <div class="text pointer" (click)="toggleRecord($event, recording)" >
          Type: {{recording.type | slice:0:20}}, {{recording.cnt}}, {{recording.length}}
        </div>
        <div class="icon-wrap right">
            <mat-icon *ngIf="!isSelected(recording)" class="medium align-right" (click)="toggleRecord($event, recording)" >check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="isSelected(recording)" class="medium align-right green" (click)="toggleRecord($event, recording)" >check_box_outline</mat-icon>
        </div>
      </li>
    </ul>
    <div (click)="showMore()" class="pointer show-more">Showing {{this.limitTo - this.startFrom}} recordings: show more &gt;&gt;</div>
  </div>
</form>
<div *ngIf="viewMode == 'default' && showSpeciesList && !isLoading && importedSpecies.length > 0">
  <ul class="list species-list" >
    <li *ngFor="let species of importedSpecies" class="pseudo-button">
      <div (click)="editSpecies(species)">
        {{species.name}}
      </div>
      <mat-icon class="red" (click)="confirmDelete(species)">highlight_off</mat-icon>
      </li>
  </ul>
</div>
<div id="blur"></div>