<h1>Welcome to online bird voice trainer</h1>
<div class="content intro">
  
<p>
  This is a web app to train on bird voices. <br />You may select any birds and their voices and create a specific selection.
</p>
<p><strong>Be aware:</strong> the data is stored in the browser! 
  That's why no login is needed.<br /> But if you use a different browser 
  or device, you have to select new data.
</p>
  
<p>You may also export 
  your data and import it into an other browser (in section "Trainings")
</p>
<p>Start with <a routerLink="/import">Import species</a> (click on the question mark near the search field for help)</p>

</div>