<h1>Welcome to online bird voice trainer</h1>
<div class="content intro">

  <ol>
    <li>Start by importing some species. Enter at least 3 characters of the birds name you are looking for</li>
    <li>When you selected a bird, some recordings are loaded from <a href="https://www.xeno-canto.org" target="_blank">www.xeno-canto.org</a></li>
    <li>You can listen to the voices and check the ones you want to use in your training</li>
    <li>If you want you can add an image from Wikipedia of the bird, by clicking on the icon near the search field</li>
    <li>Save the data and select more birds*</li>
    <li>After having several species you can add a training by clicking on Trainings</li>
    <li>Enter a name for the new training and select the birds you want to train on</li>
    <li>After saving the new training you can start by clicking on "Trainer"</li>
    <li>The birds of the training will appear in random order and their calls will be also played in random order</li>
    <li>Type at least 3 charcaters of your guess and select the name of the bird</li>
    <li>See then result and carry on by clicking next</li>
  </ol>
<p>
  *<strong>Be aware:</strong> the data is stored in the browser! 
  That's why no login is needed.<br /> But if you use a different browser 
  or your phone, you have to select new data.<br />You may also export 
  your data and import it into an other browser (in section "Trainings")
</p>

</div>