:host {
  margin: auto;
  overflow: hidden;
}


ul.trainings-list li {
  text-align: center;
}

.training-display {
  text-align: center;
}

ul.next-item {
  max-width: 11rem;
  margin: auto;
  li {
    span.content {
      padding-top: 0.75rem;
      float: left;
    }
    mat-icon {
      float: right;
    }
  }
}

span.green {
  font-size: 4rem;
  color: green;
  padding-right: 3rem;
  display: inline-block;
  width: 2rem;
}

span.red {
  font-size: 4rem;
  color: red;
  padding-left: 3rem;
  display: inline-block;
  width: 2rem;
}
