<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<a href="/" style="display: block;" title="Back to Intro">
<div id="header" >
 
  <img src="../assets/images/grau-schnaepper.jpg" />
  <img src="../assets/images/rotkehlchen.jpg" />
  <img src="../assets/images/samtkopf-grasmuecke.jpg" />
  <img src="../assets/images/bluthaenfling.jpg" />

</div>
</a>
<div class="content" role="main">

  <div class="card-container">
    <a  class="card" routerLink="/" routerLinkActive="active">Intro</a>

    <a  class="card" routerLink="/import" routerLinkActive="active">Import species</a>

    <a  class="card" routerLink="/trainer" routerLinkActive="active">Trainer</a>

    <a  class="card" routerLink="/settings" routerLinkActive="active">Trainings</a>

  </div>

  <router-outlet></router-outlet>
</div>
<div id="footer">
  <a href="https://www.ndh-websolutions.de">ndh websolutions</a>
</div>