form.search-form {
  display: block;
  text-align: center;
}

mat-form-field {
  width:400px;
  font-size: 1.3rem;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 512px !important; 
}

.recordings {
  text-align: left;
  margin: auto;
  ul li {
    list-style: none;
    font-size: 1.5rem;
    height: 3rem;
    span.icon-wrapper {
      display: block;
      float: left;
      svg-icon {
        cursor: pointer;
        margin: 5px 10px;
      }
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      color: green;
    }
  }
}

button.play {
  box-sizing: border-box;
  height: 74px;
  
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

  // paused state
  &.pause {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
}