<div style="text-align: center;" class="dialog help">
  <h2>Usage</h2>
  <p>Please enter a name for a species in your language. Wait for suggestions and click on the appropriate species.</p>
  <p>Then wait for the recordings to load and select one or more recordings and save the selection.</p>
  <p>Once you have several species added you might <a routerLink="/settings">create a training</a> and add the species you want to train on.</p>
  <p>The training will be available then in the <a routerLink="/trainer">Trainer</a></p>
  <p>Be aware that there is no account, so all your data is stored in your browser. If you change the browser or delete all caches your data is lost.</p>
  <p>However you might create a backup (on page "Trainings") and restore it later or in other browsers.
</p>
  <div mat-dialog-actions >
    <button mat-stroked-button style="margin: auto;" (click)="close()">
      Ok
    </button>
  </div>
</div>
