/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  font-size: 18px;
}

.header {
  height: 160px;
  display: flex;
  justify-content: space-around;
  img {
    height: 160px;
  }
  padding: 0 30%;
}

button.mat-stroked-button {
  margin: 1rem;
  min-width: 8rem;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-size: 1.6rem;
    min-height: 3rem;
    span.content {
      display: block;
      padding-top: 0.7rem;
    }
    span.icon-wrapper {
      display: block;
      float: left;
      svg-icon {
        cursor: pointer;
        margin: 5px 10px;
      }
    }
    &.pseudo-button {
      cursor: pointer;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      padding-top: 1.5rem;
      margin: 1rem;
      float: left;
      position: relative;
      &:hover {
        background-color: #efefef;
      }
      span {
        padding: 1rem 5rem;
      }
      &.selected {
        background-color: #daf5da;
        &:hover {
          background-color: #c6e7c6;
        }
      }
    }
  }
}

ul.recordings li {
  display: none;
  &.visible {
    display: block;
  }
  span {
    float: left;
    padding: 0.7rem 1rem 1rem 5rem;
    width: 40rem;
    text-align: left;
  }
  mat-icon {
    float: left;
    &.align-right {
      position: absolute;
      right: 1rem;
    }
  }
  &.pseudo-button {
    width: 100%;
    padding: 1rem 0 0.9rem 0;
    cursor: default;
  }
  &.bold {
    font-weight: 500;
  }
}


ul.species-list li,
ul.training-list li {
  &.pseudo-button {
    mat-icon {
      position: absolute;
      right: 0.2rem;
    }
  }
  width: 46%;
}

.pointer {
  cursor: pointer;
}

.mat-checkbox-inner-container {
  width: 24px;
  height: 24px;
}

mat-icon {
  cursor: pointer;
  &.big {
    font-size: 5rem;
    &.center {
      margin: 0 3rem 3rem 0;
    }
  }
  &.medium {
    font-size: 3rem;
  }
  &.small {
    font-size: 1rem;
  }
  &.green {
    color:#06c006;
  }
  &.red {
    color: #d00909;
  }
  vertical-align: text-bottom;
  margin: 0 1rem;
}

button.mat-stroked-button {
  font-size: 1.2rem;
}


.loader{
  margin: 0 0 2em;
  height: 100px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: block;
  svg path,
  svg rect{
    fill: rgb(13, 69, 77);
  }
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Outlined.woff2) format('woff2');
}

#ndh {
  position: absolute;
  transform: rotate(-90deg);
  a {
    color: #bbb;
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
  
}

@media screen and (max-width: 575px) {
  
}