/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Outlined.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(./assets/fonts/roboto-regular-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(./assets/fonts/roboto-regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h3.mobile-only {
  display: none;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

app-root {
  display: block;
  position: relative;
  min-height: 100vh;
}

#header {
  height: 12rem;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  img {
    height: 100%;
  }
}

div.content {
  margin:auto;
  padding-bottom: 5rem;
  max-width: 1200px;
  // font-size: 1.3rem;
  text-align: center;
}

div.intro ol {
  text-align: left;
  margin-left: 10%;
} 

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 2rem;
  width: 100%;
  a {
    color: #999;
  }
  display: block;
}

.footer {
  margin-top: 5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 16px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

a.card.active {
  font-weight: bold;
}

a,
a:visited,
a:hover {
  color: #026521;
  text-decoration: none;
}

a:hover {
  color: #047728;
}


.dialog {
  font-size: 1.4rem;
  line-height: 2.2rem;
  &.help {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}


form.search-form {
  display: block;
  text-align: center;
  button {
    margin: 5px;
  }
  mat-icon {
    vertical-align: sub;
    &.info {
      position: absolute;
      right: 0;
      padding: 0 0.5rem 1rem 0;
      margin: 0;
      top: 0;
      overflow: hidden;
    }
  }
  mat-form-field {
    font-size: 1.4rem;
    &.mat-focused {
      .mat-form-field-ripple {
        background-color: #047728;
      }
      .mat-form-field-label {
        color: #047728;
      }
    }
  }
  .mat-form-field-infix {
    width: 240px;
  }
}


button.mat-stroked-button {
  margin: 1rem;
  min-width: 8rem;
  background-color: #0a795333;
}

ul.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &.pseudo-button {
      background-color: #efefef;
      cursor: pointer;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      padding-top: 1rem;
      flex-basis: 23%;
      margin-bottom: 1rem;
      padding: 0;
      div {
        // width: calc(100% - 5rem);
        // float: left;
        flex-basis: 70%;
        padding: 1rem 0;
        &.icon-wrap {
          flex-basis: 30%;
        }
      }
      mat-icon {
        padding-top: 0.9rem;
      }
      &:hover {
        background-color: #efefef;
      }
      // span {
      //   padding: 1rem 5rem;
      // }
      &.selected {
        background-color: #daf5da;
        &:hover {
          background-color: #c6e7c6;
        }
      }
    }
  }

  &.recordings {
    li.pseudo-button {
      max-width: 48rem;
      margin-bottom:1rem;
      display: flex;
      padding-top: 0;
      flex-basis: 48%;
      &.bold {
        font-weight: bold;
        mat-icon {
          color: green;
          font-weight: bold;
        }
      }
      div {
        flex-basis: 10%;
        padding: 0 0 0.7rem 0;
        &.text {
          text-align: left;
          flex-basis: 80%;
          white-space: nowrap;
          padding: 1.1rem 0 0 0;
        }
      }
      
    }
  }
  &.recordings.filter {
    li.pseudo-button {
      display: none;
      &.selected {
        display: flex;
      }
    }
  }
}

ul.list.filter .pseudo-button {
  display: none;
  &.selected {
    display: flex;
  }
}

.show-more {
  font-size: 1.2rem;
  color: #aaa;
  margin-top: 1.5rem;
}

mat-icon {
  cursor: pointer;
  &.big {
    font-size: 5rem;
    &.center {
      margin: 0 3rem 3rem 0;
    }
  }
  &.medium {
    font-size: 2rem;
  }
  &.small {
    font-size: 1rem;
  }
  &.green {
    color:#06c006;
  }
  &.red {
    color: #d00909;
  }
  vertical-align: text-bottom;
  margin: 0 1rem;
}


.pointer {
  cursor: pointer;
}


  .loader{
    margin: 0 0 2em;
    height: 100px;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: block;
    font-size: 0.8rem;
    svg-icon {
      margin-top: 1rem;
      display: block;
    }
    svg path,
    svg rect{
      fill: rgb(13, 69, 77);
    }
  }

ul.next-item {
  max-width: 40rem;
  margin: auto;
  padding: 0;
  li.pseudo-button {
    flex-basis: 48%;
  }
}

span.green {
  font-size: 4rem;
  color: green;
  padding-right: 3rem;
  display: inline-block;
  width: 2rem;
}

span.red {
  font-size: 4rem;
  color: red;
  padding-left: 3rem;
  display: inline-block;
  width: 2rem;
}

.intro {
  font-size: 1.3rem;
  line-height: 2rem;
  max-width: 36rem;
  margin: auto;
}

@media screen and (max-width: 1160px) {

  ul {
    &.species-list,
    &.training-list {
      li.pseudo-button {
        flex-basis: 30%;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  #header {
    overflow-x: hidden;
  }

  ul {
    &.species-list,
    &.training-list {
      li.pseudo-button {
        flex-basis: 47%;
      }
    }
  }

}

@media screen and (max-width: 575px) {

  h3.mobile-only {
    display: block;
    color: #026521;
  }

  .card.active {
    display: none;
  }

  #header img:last-child {
    display: none;
  }

  ul.list.recordings {
    li.pseudo-button {
      flex-basis: 95%;
      margin-bottom: 1rem;
      font-size: 1rem;
      div {
        flex-basis: 15%;
        line-height: 1.6rem;
        &.text {
          flex-basis: 70%;
          white-space: normal;
          padding: 0.7rem 0 0;
        }
        &.icon-wrap {
          overflow: hidden;
          padding: 0.6rem 0 0.3rem 0;
        }
        mat-icon {
          padding: 0;
        }
      }
    }
  }

  ul.list {
    li.pseudo-button {
      flex-basis: 90%;
      div {
        flex-basis: calc(70% - 5rem);
        padding-left: 5rem;
      }
      .icon-wrap {
        overflow: hidden;
      }
    }
  }

  /** bugfix - without this the container is much more than 100% ?? **/
  .trainings ul.species-list {
    mat-icon {
      overflow: hidden;
    }
  }

  app-trainer ul.list.training-list li.pseudo-button div {
    flex-basis: 90%;
    padding-left: 0;
  }

  .card {
    flex-basis: 38%;
  }

  .mat-form-field {
    width: 80%;
  }

  .mat-dialog-actions {
    width: 100% !important;
    margin-top: 1rem !important;
    margin-bottom: -1rem !important;
    button.mat-stroked-button {
      min-width: 6rem;
    }
  }

  .dialog.help {
    max-height: 80vh;
    overflow: scroll;
  }

  .cdk-overlay-pane .mat-dialog-container {
    padding: 1rem;
  }

  #cdk-overlay-0 {
    width: 100% !important;
  }

  a:focus {
    outline: none;
  }

  .mat-typography app-species-info-dialog  {
    h1,h2, h3 {
      margin: 0;
    }
  }

  .card.active {
    display: none;
  }
}
