/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-stroked-button {
  margin: 1rem;
  min-width: 10rem;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-size: 1.5rem;
    min-height: 3rem;
  }
}


li.species-item,
ul.training-list li {
  cursor: pointer;
  svg-icon {
    margin: -8px 8px;
    position: absolute;
  }
}